# ZenML - should be same version as server
zenml
# pipeline
scikit-learn
pandas
# stack
kfp==1.8.22
gcsfs
google-cloud-storage>=2.9.0
google-cloud-build>=3.11.0
google-cloud-aiplatform>=1.21.0
google-cloud-functions>=1.8.3
google-cloud-scheduler>=2.7.3
google-cloud-secret-manager
google-cloud-container>=2.21.0